.mentionItemList {
  list-style: none;
  border-collapse: collapse;
  padding: 0;
  margin: 2px 0 0;
  overflow: auto;
  max-height: 300px;
  height: auto;
  background-color: white;
  position: fixed;
  top: auto;
  left: auto;
  z-index: 1000;
  min-width: 160px;
  font-size: 14px;
  text-align: left;
  border-radius: 2px;
  > .mentionItem {
    &:hover, &.active {
      background-color: #ccc;
    }
  }
}
[hidden] {
  display: none;
}
