<ng-template #defaultItemTemplate let-item="item">
  {{item[labelKey]}}
</ng-template>
<ul #list [hidden]="hidden" class="mentionItemList">
  <li *ngFor="let item of items; let i = index" [ngClass]="{mentionItem: true, active: activeIndex==i}">
    <a class="dropdown-item" (mousedown)="activeIndex=i;itemClick.emit();$event.preventDefault()">
      <ng-template [ngTemplateOutlet]="itemTemplate" [ngTemplateOutletContext]="{'item':item}"></ng-template>
    </a>
  </li>
</ul>
<!--<ul #list [hidden]="hidden" class="dropdown-menu scrollable-menu">-->
  <!--<li *ngFor="let item of items; let i = index" [class.active]="activeIndex==i">-->
    <!--<a class="dropdown-item" (mousedown)="activeIndex=i;itemClick.emit();$event.preventDefault()">-->
      <!--<ng-template [ngTemplateOutlet]="itemTemplate" [ngTemplateOutletContext]="{'item':item}"></ng-template>-->
    <!--</a>-->
  <!--</li>-->
<!--</ul>-->
